.config/gh
.config/Cadence
.config/dconf
.config/discord
.config/git
.config/ibus
.config/libreoffice
.config/menus
.config/mozc
.config/nerd-fonts
.config/nitrogen
.config/pulse
.config/qalculate
.config/rncbc.org
.config/Thunar
.config/xdg-ninja
.config/xfce4
.config/mimeapps.list
.config/QtProject.conf
.config/pavucontrol.ini
.config/wine
.config/gtk-2.0
.config/tmux/plugins
.config/cowsay
.config/sublime-text
.config/gf
.config/fasm
